/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: rgb(14, 14, 14);
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Nanum Pen font import */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* General */
/* Background image link and image positioning */
html {
    background-image: url('https://images.pexels.com/photos/1050302/pexels-photo-1050302.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(0, 0, 0);

}

/* Nanum Pen font, larger spacing, underlined, centered, and white color */
h1 {
    font-family: 'Nanum Pen Script', cursive;
    letter-spacing: 1em;
    text-decoration: underline;
    text-align: center;
    color: rgb(255, 255, 255);
}



/* Article */
/* Article font color, spacing, alignment, padding for paragraphs, and prevention of container collapse */
article {
    color: rgb(255, 255, 255);
    width: 85%;
    margin: auto;
    text-align: center;
}

article p {
    padding: 25px;
}

article:after {
    clear: both;
    content: "";
    display: table;
}

/* Footer */
/* Font size and color, background color, text alignment, spacing, gradient color for text, and spacing for each link */
footer {
    text-align: center;
    font-size: 1.3em;
    padding: 40px 0 30px 0;
    background-color: rgb(255, 255, 255);
    color: white;
}

footer p {
    background: -webkit-linear-gradient(rgb(0, 230, 161), rgb(0, 114, 207));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer a {
    padding: 0px 5px;
}

/* Description List */
/* font color, styles, spacing, and alignment */
dl {
    color: white;
    margin: auto;
    text-align: center;
}

dt {
    font-style: italic;
}

dd {
    display: inline;
}

/* Nav */
/* Navigation list font, font color, background color, spacing, box shadow, flexbox style, and gradient for link text */
nav {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 40px;
    margin: .5em 0;
    padding-right: 40px;
    border-radius: 15px 50px 30px;
    height: auto;

}

nav ul {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex: 1 2 auto;
    flex: 1 2 auto;
    list-style: none;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    padding-top: 15px;
}

nav li {
    margin: 0 auto;
    display: inline;
    background: -webkit-linear-gradient(rgb(0, 230, 161), rgb(0, 114, 207));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Overlay Text */
/* Text styles for text whithin the image overlay, setting the gradient color, position, and font size (including specific sizes for overlays with ids) */
.text {
    font-size: 20px;
    position: absolute;
    top: 37%;
    left: 51%;
    transform: translate(-50%, -40%);
    color: rgb(0, 230, 219);
    background: -webkit-linear-gradient(rgb(0, 230, 161), rgb(0, 114, 207));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

#mediumtext {
    font-size: 18px;
}

#smalltext {
    font-size: 17px;
    left: 48%;
}

/* Images */
/* Image underneath the overlays and teh one on the index, setting the position, spacing, shape, box shadow and hue */
img {
    display: block;
    width: 100%;
    max-width: 40em;
    height: auto;
    border-radius: 50%;
    position: relative;
    filter: hue-rotate(50deg) brightness(110%);
    border: 10px dotted white;
    box-shadow: black 0 0 10px;
}

img#index {
    display: inline;
    border-radius: 5%;
    border: 10px dotted white;
    box-shadow: black 0 0 50px;
    margin: auto;
}



/* Overlay Positioning */
/* Div that contains all the componets for one overlay. Sets the position, spacing, color, and transition effect for the hover */
.bubble {
    position: relative;
    max-width: 40em;
    height: auto;
    padding: 0;
    margin: auto;
}

div.overlay {
    position: absolute;
    top: 55px;
    right: -10px;
    bottom: 10px;
    left: 10px;
    max-width: 40em;
    max-height: 40em;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition: 0.6s;
    vertical-align: middle;

}

/* When the mouse hovers over the image, text and the overlay will appear */
.overlay#one:hover,
.overlay#two:hover,
.overlay#three:hover,
.overlay#four:hover,
.overlay#five:hover {
    opacity: 1;
}

/* Media: Phone */
/* For the phone, the article will take up more space, with the nav as a column instead of a row, as well as different positions and sizes for each of the texts in the overlay */
@media only screen and (max-width: 480px) {
    article {
        width: 90%;
    }

    .bubble {
        margin-right: 15px;
    }

    nav ul {
        -webkit-display: flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    nav {
        height: auto;
    }

    h3 {
        clear: both;
        -webkit-display: flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        justify-content: center;
        margin: auto;
    }

    div.overlay {
        top: 36px;
    }

    .text,
    .text#mediumtext {
        font-size: 11px;
    }

    .text#smalltext {
        font-size: 10px;
        top: 40%;
        left: 47%;
    }

}

/* Media: Tablet */
/* For the tablet, the nav is a column instead of a row, along with different positions and sizes for each of the texts in the overlay */
@media only screen and (min-width: 481px) and (max-width: 685px) {
    nav ul {
        -webkit-display: flex;
        display: flex;
        -webkit-flex-flow: column;
        flex-flow: column;
    }

    nav {
        height: auto;
    }

    .text,
    .text#mediumtext {
        font-size: 15px;
    }

    .text#smalltext {
        font-size: 14px;
        top: 40%;
        left: 48%;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Editations*/